/* Overall background and text color */
body {
  background-color: #ffffff;  /* white background */
  color: #000000;             /* black text */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

main {
  margin-left: 220px;
  padding: 40px;
  max-width: 800px;
}



/* Navigation links */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #0073e6;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Section headers */
section h2 {
  color: #222222;
}

/* Footer */
footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

a {
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#pub-list {
  list-style-type: none;
  padding-left: 0;
}
#pub-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

#publications {
  margin: 20px 0;
}

.publication-item {
  margin-bottom: 20px;
  list-style-type: none;
}

.publication-item h3 {
  font-size: 1.2em;
  margin: 0;
}

.publication-item p {
  font-size: 1em;
  margin: 5px 0;
}

.publication-number {
  font-weight: bold;
  /* color: #333; */
  font-size: 1.1em;
  margin-right: 10px;
}

.venue {
  color: red;
}

.pdf-link, .code-link {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.pdf-link:hover, .code-link:hover {
  text-decoration: underline;
}

.note {
  font-size: 0.1em;
  /* color: blue; */
  margin-top: 5px;
}


.profile-photo {
  text-align: center;
  margin-bottom: 20px;
}

.photo {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%; /* This makes the photo circular */
  object-fit: cover; /* Ensures the image fits within the circular frame */
  border: 3px solid #ddd; /* Optional: Add a border around the photo */
}


.centered-icons {
  text-align: center;
  margin-top: 20px;
}

.centered-icons a {
  display: inline-block;
  margin: 0 10px;
}

.centered-icons .icon {
  height: 52px;
  width: auto;
  opacity: 0.9;
  transition: transform 0.2s ease;
}

.centered-icons .icon:hover {
  transform: scale(1.2);
  opacity: 1;
}
