body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
section {
  padding: 20px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #1e1e1e;
}
a {
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#pub-list {
  list-style-type: none;
  padding-left: 0;
}
#pub-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

#publications {
  margin: 20px 0;
}

.publication-item {
  margin-bottom: 20px;
  list-style-type: none;
}

.publication-item h3 {
  font-size: 1.2em;
  margin: 0;
}

.publication-item p {
  font-size: 1em;
  margin: 5px 0;
}

.publication-number {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
  margin-right: 10px;
}

.venue {
  color: red;
}

.pdf-link, .code-link {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.pdf-link:hover, .code-link:hover {
  text-decoration: underline;
}

.note {
  font-size: 0.9em;
  color: blue;
  margin-top: 5px;
}
